:root {
  --main-clr: #765452;
  --second-clr: #d5a569;
  --third-clr: #112f39;
  --fourth-clr: #c9bb90;
  --fifth-clr:#8a7c79;
}

.main-frame {
  place-self: center;
  position: relative;
  bottom: 3rem;
  width: 600px;
  background-color: var(--fifth-clr);
  padding: 1rem;
  border-radius: 10px;
  opacity: 0.95;
}

.about-contain {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.9rem;
} 

.about-contain h2 {
  text-align: center;
}
