:root {
  --main-clr: #765452;
  --second-clr: #d5a569;
  --third-clr: #112f39;
  --fourth-clr: #c9bb90;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../img/michal-parzuchowski-ItaV89TNkks-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

/* main container style */
.container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr ;
  min-height: 100vh;
}

/* top header styling */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}

/* header div's styling */

.header div {
  color: var(--third-clr);
  font-size: 2rem;
  border: solid 1px var(--main-clr);
  padding: 0.5rem;
  border-radius: 10px;
}


.logo {
  background-image: url(../img/nico-smit-2M6ewSjbo60-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5rem;
  height: 3rem;
}

/* main content */ 

.main-info {
  place-self: center;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3,1fr);
  gap: 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 20rem;
}

.main-btn {
  padding: 0.7rem 1rem ;
  border-color: #000;
  background-color: var(--fourth-clr);
  border-color: var(--fourth-clr);
  font-weight: 550;
  width: 250px;
  place-self: center;
}

.main-btn:hover {
  border-radius: 15px;
  background-color: var(--main-clr);
  color: var(--fourth-clr);
  border-color: var(--main-clr);
}


/* footer style */
.footer {
  background-color: var(--third-clr);
  min-height: 170px;
  font-size: .85rem;
}

/* footer heading */
.foot-contain {
  display: flex;
  justify-content: center;
  gap: 30rem;
  padding: 10px;
}

.footer h5 {
  text-align: center;
  padding-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
}


