@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --main-clr: #765452;
  --second-clr: #d5a569;
  --third-clr: #112f39;
  --fourth-clr: #c9bb90;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(../img/michal-parzuchowski-ItaV89TNkks-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Lora", serif;
}

/* main container style */
.container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  min-height: 100vh;
}

/* top header styling */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 1rem;
}

/* header div's styling */

.header div {
  color: var(--third-clr);
  font-size: 2rem;
  border: solid 1px var(--main-clr);
  padding: 0.5rem;
  border-radius: 10px;
}

/* main content */

.main-info {
  place-self: center;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 20rem;
}

.main-btn {
  padding: 0.7rem 1rem;
  border-color: #000;
  background-color: var(--fourth-clr);
  border-color: var(--fourth-clr);
  font-weight: 550;
  width: 250px;
  place-self: center;
}

.main-btn:hover {
  border-radius: 15px;
  background-color: var(--main-clr);
  color: var(--fourth-clr);
  border-color: var(--main-clr);
}

/* footer style */
.footer {
  background-color: var(--third-clr);
  min-height: 170px;
  font-size: 0.85rem;
}

/* footer heading */
.foot-contain {
  display: flex;
  justify-content: center;
  gap: 30rem;
  padding: 10px;
}

.footer h5 {
  text-align: center;
  padding-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

.color {
  background-color: var(--third-clr);
  color: var(--second-clr) !important;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.open-hrs {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(../img/michal-parzuchowski-ItaV89TNkks-unsplash.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
  }

  .container {
    grid-template-rows: 1fr 3fr 1fr;
    min-height: 100vh;
    min-width: 100vw;
  }

  .header {
    flex-direction: column;
    align-items: start;
    gap: 0rem;
    padding: 0rem;
    justify-content: start;
  }

  .header div {
    min-width: 600px;
    max-width: 100vw;
    font-size: 1.5rem;
  }

  .footer {
    min-height: 140px;
    font-size: 0.65rem;
  }

  .foot-contain {
    gap: 20rem;
    padding: 8px;
  }

  .footer h5 {
    margin-top: 3rem;
    padding: 0px;
  }

  .main-info {
    font-size: 1.2rem;
    margin-bottom: 8rem;
  }

  a,
  h5 {
    font-size: 0.65rem;
  }
}
