:root {
  --main-clr: #765452;
  --second-clr: #d5a569;
  --third-clr: #112f39;
  --fourth-clr: #c9bb90;
}

.menu {
  margin: auto;
  background-color: var(--main-clr);
  border-radius: 10px;
  opacity: 0.95;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  row-gap: 15px;
  padding: 15px;
}

.menu-item {
  font-weight: bold;
  font-size: 1.5rem;
}

.menu-price {
  text-align: right;
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .menu {
    width: 450px;
    margin-bottom: 0.7rem;
    margin-top: 0.7rem;
  }

  .menu-grid {
    gap: 7px;
    row-gap: 10px;
  }

  .menu-item {
    font-size: 1.2rem;
  }

  .menu-price {
    font-size: 1.1rem;
  }
}
